/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
html{
    margin:    0 auto;
    max-width: 360px;
    max-height:730px;
}
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    width: 360px;
    height: 730px;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;     
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px); */
    
}
* {
    box-sizing: border-box;
}
section
{
    width: 360px;
    height: 730px;
    overflow:hidden;
    background-repeat: no-repeat;
    margin: 0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}
.ocultar
{
    display:none;
}
#Seccarga
{
    background-image:  url("../img/Todas/CargaProv.jpg");
    
}
#SecInstrucciones
{
    background-image:  url("../img/pantallas/introduccion/Fondo_introducción.jpg");
    padding: 20px;
    color:#2d2e2d;
}
#tituloInstrucciones
{
    margin-top:52px;
    margin-left:90px;
    color:#0c5e65;
    font-size:15pt;
    font-weight: 400;
}
#logoInstrucciones
{
    margin-left:100px;
}
#esHora
{
    font-size:12pt;
    margin-top:40px;
    margin-left:10px;
    font-weight: 400;
}
#txtProgresa
{
    margin-top:-130px;
    font-size:11pt;
    margin-left:80px;
    font-weight: 400;
}
#desbloquea
{
    font-size:11pt;
    font-weight: 400;
}
#divDesbloquea
{
    margin-left:35px;
    margin-top:-80px;
    background-color: white;
    padding:2px;
    border-radius: 20px;    
    text-align: center;
    width:250px;
}
#hojasIzquierdo
{
    margin-top:130px;
}
#hojasDerecho
{
    position: absolute;
    margin-top:-105px;
    margin-left:282px;
}
#sgteInstrucciones
{
    position: absolute;
    margin-left:282px;
}
 .Secbienvenidos
{
    position: absolute;
    /* background: url("img/Todas/fondo_pantalla_bienvenido.png"); */
    /* background-color: #b0b969;  */
    text-align: center;
} 
/* .loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #b0b969;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    /*animation: spin 2s linear infinite;    
    margin-top:40px;
    margin-left:130px;
  }
  #logoCarga{    
    padding-top:225px;
    padding-left:100px; 
  }*/
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .secBienvenidosTextoStyle{
   
    font-family: "Loved by the King"; 
    font-size: 18pt; 
    font-style: normal; 
    color: #0c5e65;    
} 
  .SecPruebas
{
    background-color: white;
}

#headInfoUsuario
{
    padding-top:17px;
    padding-bottom:38px;
    height: 49px;    
    color:white;    
    font-size: 15pt;
    width: 360px;
    background-color: #1166af;
    padding-left:20px;
    padding-right:20px;
}
#opcionesPruebas
{
    float: right;
}
#volverPruebas
{
    float: left;
    padding-top:2px;
}
#volverPruebasPuntos
{
    margin-left:5px;
    float: left;
    margin-top:10px;
    
}
#nombreTextPrueba
{
    margin-top:-20px;
    margin-left:10px;
    margin-bottom: -20px;
    color:white;
}
#volverDesafios
{
    float: left;
    padding-top:2px;
}
#menuPruebas
{
    padding-left:5.6px; 
    padding-right:5.6px;
    display:inline-block;     
}
#bodyInfoUsuario
{
    float: left;
    height: 94px;
    padding-left:20px;
    padding-right: 20px;     
    color:white;  
    width: 360px;
    background-color: #1166af;
    padding-left:20px;
    padding-right:20px;
    margin-top:-5px;
}
#nivelPruebas
{
    margin-top:-6px;
    padding-left:20px;
}
#saludPruebas
{
    float:right;
    padding-right:170px;
    margin-top: -80px;
}
#experienciaPruebas
{
    float:right;
    padding-right:170px;
    margin-top: -55px;
}
#barraSaludPruebas
{
    float:right;
    margin-top: -80px;
}
#barraExpPruebas
{
    float:right;
    margin-top: -50px;
}
#barraSaludDes
{
    float:right;
    margin-top: -80px;
}
#barraExpDes
{
    float:right;
    margin-top: -50px;
}
#pExpPruebas
{
    margin-left:210px;
}
#pSaludPruebas
{
    margin-left:240px;
    margin-top: -64px;
}
#procSaludPruebas
{
    float:right;
    margin-top: -64px; 
    color:white;
}
#procExpPruebas
{
    float:right;
    margin-top: -38px; 
    color:white;
}
#footer
{
    height: 79px;
    width: 360px;    
    background-color: #1166af;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color:white;
}
#pruebasFooter
{
    float: left;
    padding-left:8px;
}
#txtPruebas
{
    padding-top:15px;

}
.checklist
{
    padding-top:20px;
    height: 600px;
    width: 360px;
}
#espFooter
{
    float: right;
    margin-top:-53px;
    margin-right: 25px;
}
#txtEsp
{
    float: right;    
    margin-top:-26px;
}
#desFooter
{   
    float: left; 
    margin-left:10px;
}
#txtDes
{    
    padding-top:32px;
    padding-left:-40px;
}
#footer2
{
    margin-left:125px;
    height: 39px;
    margin-top:-58px;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding-left:30px;
    list-style-type: none;    
    font-size: 13px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #2d2e2d;
    border-color: #b4cfd6;
    border-style: solid;
    border-width: 0px 0 1px 0;
    height: 50px;
    padding-right:40px;
    padding-top:10px;
}
.desCheck li:first-child{
    height: 70px;
}

ul li.checked {
    color: #b4cfd6;
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #264B72;
    border-style: solid;
    border-width: 0 1px 1px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 10px;
    width: 5px;
} 
.btnEliminar{
    float: right;
    width:15px;
    height: 20px;
    margin-right: -10px;
    margin-top:-10px;
    display: block;
}
#tituloPrueba
{
    font-size: 16px;
    color:#f6b419;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-left:20px;
    margin-top:80px;
}
#avancePrueba
{
    font-size: 16px;
    color:#f6b419;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-left:200px;
    margin-top:-35px;
}
#tituloMenDes
{
    font-size: 16px;
    color:#f6b419;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-left:20px;
    margin-top:60px;
    margin-bottom: 30px;
}
#tituloDesCheck
{
    font-size: 16px;
    color:#f6b419;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-left:20px;
    margin-top:100px; 
}
#divEliminar
{
    width:40px;
    height:405px;
    float:right;
}
.removed {
    transition: all 0.5s ease-out;
    opacity: 0;
  }

.desAccion
{
    height: 100px;
    width:360px;
    padding:0px;
    margin-top:-40px;
    margin-bottom:25px;
}
#imgDes
{
    margin-top:-20px;
    margin-left:20px;
}
#tituloDes
{
    font-size:16px;
    color:#1166af;
    margin-top:-100px;
    margin-left: 148px;
    font-weight: 600;
}
.descripDes
{
    color:#37b0cb;
    font-size:12px;
    margin-left: 148px;
    margin-top:-15px;
}
.avanceDes
{
    font-weight: 600;
    font-size:16px;
    color:#f6b419;
    margin-left: 148px;
    margin-top:-10px;
}
#agregarCir
{
    position:absolute;
    margin-top:110px;
    margin-left:310px;
}
#agregaPrueba
{
    position:absolute;
    margin-top:75px;
    margin-left:314px;
}
#txtNuevaPrueba
{
    position:absolute;
    margin-top:78px;
    margin-left:225px;
}