#encabezadoUnidad{
    height: 143px;
    background-color: #E1DE82; 
}

#textoNombre{
    font-family: "Roboto"; 
    font-size: 18pt; 
     font-style: Thin; 
     color: white; 
     position: absolute;
     top: 7px;
     left: 78px;
     margin: auto;
}

#imgVolverInicio{
    position: absolute;
    top: 10px;
    left: 17px;
    margin: auto;
}

#imgOpcionesInicio{
    position: absolute;
    top: 10px;
    left: 310px;
    margin: auto;
}

#imgMenuInicio{
    position: absolute;
    top: 17px;
    left: 40px;
    margin: auto;
}

#imgpersonajeSeleccionado{
    position: absolute;
    top: -530px;
    left: -200px;
    right: 0;
    bottom: 0;
    margin: auto;
}

#imgBarraSalud{
    position: absolute;
    top: -560px;
    left: 120px;
    right: 0;
    bottom: 0;
    margin: auto;
}

#imgSalud{
    position: absolute;
    top: -560px;
    left: -60px;
    right: 0;
    bottom: 0;
    margin: auto;
}

#imgBarraExp{
    position: absolute;
    top: -490px;
    left: 120px;
    right: 0;
    bottom: 0;
    margin: auto;
} 

#imgExp{
    position: absolute;
    top: -490px;
    left: -60px;
    right: 0;
    bottom: 0;
    margin: auto;
}
#eligeText{
    position: absolute;
    top: 150px;
    left: 90px;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: "Loved by the King"; 
    font-size: 32pt; 
    font-style: normal; 
    color: #0c5e65; 
}
#imgClan{
    position: absolute;
    top: 470px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#imgTropa{
    position: absolute;
    top: -130px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#imgSociedad{
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#tropaText{
    position: absolute;
    top: 337px;
    left: 153px;
    margin: auto;
    font-family: "Roboto"; 
    font-style: Thin; 
    font-size: 16pt; 
    color: #231f20; 
    opacity: 70%;
}
#sociedadText{
    position: absolute;
    top: 485px;
    left: 138px;
    margin: auto;
    font-family: "Roboto"; 
    font-style: Thin; 
    font-size: 16pt; 
    color: #231f20; 
    font-weight: bold;
    
}
#clanText{
    position: absolute;
    top: 640px;
    left: 159px;
    margin: auto;
    font-family: "Roboto"; 
    font-style: Thin; 
    font-size: 16pt; 
    color: #231f20; 
    opacity: 70%;
}
#nivelText{
    position: absolute;
    top: 118px;
    left: 65px;
    margin: auto;
    font-family: "Roboto"; 
    font-style: Thin; 
    font-size: 9pt; 
    color: white; 
    
}
#saludText{
    position: absolute;
    top: 74px;
    left: 286px;
    margin: auto;
    font-family: "Roboto"; 
    font-style: Thin; 
    font-size: 9pt; 
    color: white; 
}
#expeText{
    position: absolute;
    top: 109px;
    left: 254px;
    margin: auto;
    font-family: "Roboto"; 
    font-style: Thin; 
    font-size: 9pt; 
    color: white; 
}