body {
    width: 360px;
    height: 730px;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;     
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px); */
    
}
#encabezadoUnidad{
    height: 143px;
    background-color: #E1DE82; 
    padding-top:17px;
    padding-left:20px;
    padding-right:20px;
}

#textoNombre{
    margin-top:-20px;
    margin-left:10px;
    margin-bottom: -20px;
    color:white;
    font-size: 15pt;
}

#imgVolverInicio{
    float: left;
    padding-top:2px;
}

#imgOpcionesInicio{
    float: right;
    margin-left: 300px;
    margin-top:10px;
    margin: auto;
}

#imgMenuInicio{
    margin-left:5px;
    float: left;
    margin-top:10px;
}

#imgpersonajeSeleccionado{
    position: absolute;
    float: left;
    left:45px;
    bottom: 610px;
    margin: auto;
}

#barraSaludUni{
    float:right;
    margin-top:25px;
    margin-left: 200px;
}
#barraExpUni
{
    float:right;
    margin-top:20px;
    margin-left: 200px;
}

#imgSalud{
    position: absolute;
    margin-top: 50px;
    margin-left:5px;
}

/* #imgBarraExp{
    position: absolute;
    top: -490px;
    left: 120px;
    right: 0;
    bottom: 0;
    margin: auto;
}  */

#imgExp{
    position: absolute;
    margin-top: 75px;
    margin-left:5px;
}
#eligeText{
    position: absolute;
    top: 150px;
    left: 90px;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: "Loved by the King"; 
    font-size: 32pt; 
    font-style: normal; 
    color: #0c5e65; 
}
#imgClan{
    position: absolute;
    top: 470px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#imgTropa{
    position: absolute;
    top: -130px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#imgSociedad{
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#tropaText{
    position: absolute;
    top: 357px;
    left: 153px;
    margin: auto;
    font-size: 15pt; 
    font-weight: 400;
    color: #231f20; 
    opacity: 70%;
}
#sociedadText{
    position: absolute;
    top: 505px;
    left: 138px;
    margin: auto;
    font-weight: 700;
    font-size: 15pt; 
    color: #231f20; 
    
}
#clanText{
    position: absolute;
    top: 660px;
    left: 159px;
    margin: auto;
    font-size: 15pt; 
    font-weight: 400;
    color: #231f20; 
    opacity: 70%;
}
#nivelText{
    position: absolute;
    top: 118px;
    left: 65px;
    margin: auto;
    font-family: "Roboto"; 
    font-style: Thin; 
    font-size: 9pt; 
    color: white; 
    
}
#saludText{
    position: absolute;
    margin-left: 245px;
    color: white; 
    margin-top:60px;
}
#expeText{
    position: absolute;
    margin-left: 220px;
    color: white; 
    margin-top:95px;

}
#procSaludUni
{
    color:white;
    margin-left:285px;
    position: absolute;
    margin-top:35px;
}
#procExpUni
{
    color:white;
    margin-left: 295px;
    position: absolute;
    margin-top:72px;
}